.header {
    background-image: linear-gradient(135deg, #6d0eb1 59%, #080ab4 100%);    
    box-sizing: border-box;
    display: flex;
    position: relative;
    box-shadow: 5px 5px 5px grey;
    font-family: 'Nunito Sans', sans-serif;   
    height: 68px;     
      }
      .center {
    align-items: center;
    color: #fff;
    display: flex;
    font-size: 16px;
    font-weight: 700;
    justify-content: center;
    line-height: 1;
    width: 20%;
    font-family: Nunito !important;
      }
    .incenter {
      display: flex;
      justify-content: center;
      margin: 5px;  
    }
    .header .left, .header .right {
    width: 40%;
    font-family: Nunito !important;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    font-size: 14px;
    }
    #but {
    background: #ad1f23;
    border-color: #ad1f23;
    border-radius: 4px;
    color: #fff;
    padding: 7px;
    }
    .divider {
      margin-top: 40px;
      background: linear-gradient(to right, #ed1c94 50%, #981df0 120%);
      display: inline-block;
      border: 0;font-size: 0;
      line-height: 0;height: 3px;
      max-width: 150px;
      width: 100%;
      text-align: left!important;
      }
   .button-secondary:hover, .button-secondary:active, .button-secondary:hover {
    color: #fff;
    background-color:#ed1c94;
    border-color: #ed1c94;
    }
    .button-secondary, .button-secondary:focus {
    color: #fff;
    background-color: #981df0;
    border-color:#981df0;
    }
    .button-nina {
    font-weight: 600;
    color: #fff !important;
    border-radius: 9px;
    cursor: pointer;    
    font-size: 16px;    
    position: relative;
    padding: 11px 35px;    
    overflow: hidden;
    line-height: 1.3;
    transition: background .3s .01s, border-color .3s .01s;
    }
    .foot {
       padding: 15px 0;
       color: #fff;
       background-size: cover;
        background-position: center center;
        background-color: #29293a;
        fill: #29293a;
        font-size: 18px;
        font-weight: 300;
    }
    .foot {
        text-align: center!important;
    }
   ul {
    list-style: none;
    display: block;
    }
   .inline-list>li {
       display: inline-block;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
   }
    .circle-up {
  color: #fff;
  border-radius: 50%;
  height: 2em;
  width: 2em;
  background-color:#ed1c94;
  font-weight:600;
}
    @media (min-width: 1600px) {
        .container-bigger {
          max-width: 1500px;
       }
     } 
